$panel-background-color: #191919;

.icon-wrapper {
  position: fixed;
  top: 15%;
  transition: right 0.5s ease-in-out;
  right: -0.3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 4px 0;
  z-index: 999;

  &:hover {
    right: 0;
  }

  background-color: $panel-background-color;

  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;

  .icon-plugin {
    fill: white;
  }
}